@import "variables.css";

body {
  font-family: var(--secondary-font);
  font-weight: var(--regular);
}

h1,
h2,
h3,
h4 {
  font-family: var(--main-font);
  font-weight: var(--bold);
  text-align: center;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.5rem;
}

p,
span {
  font-family: var(--secondary-font);
  font-weight: var(--regular);
  line-height: 2.5rem;
  font-size: 1.6rem;
}
button {
  font-size: 1.6rem;
}

.encryptor__content .encryptor__message textarea {
  font-size: 3.2rem;
}
.encryptor__warning p {
  font-size: 1.2rem;
}

.decryptor__empty h2 {
  font-size: 2.4rem;
}
.decryptor__full p{
  font-size: 2.4rem;
}

/* ul {
    list-style: none;
}

li {
    font-family: var(--link-font);
    font-weight: var(--regular); 
    color: var(--neutral-2); 
    text-align: justify;
    transition-property: color;
    transition-duration: .5s;

    font-size: 1.9rem;
}


a {
    font-family: var(--link-font);
    font-weight: var(--regular); 
    color: var(--neutral-2);    
    text-align: center;
    text-decoration: none;
    transition-property: color;
    transition-duration: .5s;
    cursor: pointer;  
    font-size: 1.6rem;
}
a:hover {
    color: var(--color-3);
} 

i {
    font-family: var(--link-font);
    font-weight: var(--regular); 
    color: var(--neutral-2);    
    text-align: center;
    text-decoration: none;
    transition-property: color;
    transition-duration: .5s;
    cursor: pointer;  
    font-size: 1.6rem;
} */
