:root{
    /* Fonts*/
    --main-font: 'Quicksand', sans-serif;/*weight: 500,700*/
    --secondary-font: 'Quicksand', sans-serif;/*weight: 500,700*/
    --link-font: 'Quicksand', sans-serif;/*weight: 500,700*/
    
    /* Font weight */
    --medium: 400; 
    --bold: 700; 
    
    /* Colores */
    --color-1: #E5E5E5;
    --color-2: #199e97;
    --color-3: #343A40;
    --color-4: #495057;    
    --color-5: #c6fafa;    
    --color-6: #fa4332;    
    --color-7: #64b100;    
    --neutral-1: rgb(0, 0, 0);
    --neutral-2: rgb(255, 255, 255);
    --neutral-3: rgb(74, 74, 74);
    /* --color-1: #E5E5E5;
    --color-2: #0A3871;
    --color-3: #343A40;
    --color-4: #495057;    
    --color-5: #D8DFE8;    
    --color-6: #fa4332;    
    --color-7: #64b100;    
    --neutral-1: rgb(0, 0, 0);
    --neutral-2: rgb(255, 255, 255);
    --neutral-3: rgb(74, 74, 74); */
}